# Credenciales Supabase para NeuroSAFEMX
# Copia este archivo como .env y coloca tus claves
VITE_SUPABASE_URL=https://pubodzfmiqmawrfnmrce.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_KRurFJ2qlMynInI4XGyAUA_wwu8s5AN
